body {
  min-height: 100vh;
  display: grid;
  place-content: center;
  background: hsl(230 35% 7%);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.outer {
  z-index: -1;
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: gray;
}

.inner {
  z-index: 0;
  position: fixed;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: white;
  transition: all 0.3s;
}

.inner:hover {
  transform: scale(0.5);
}

.text {
  z-index: 0;
  position: fixed;
  color: hsl(230 35% 7%);
  font-size: 1.5rem;
  text-decoration: none;
  text-transform: uppercase;
}
