:root {
  --space-dark: hsl(230 35% 7%);
  --space-light: hsl(230 10% 95%);
  --border-dark: hsl(230 10% 85%);
  --border-light: hsl(230 10% 15%);
}

body {
  margin: 0;
  font-family: "Bellefair", serif;
  min-height: 100vh;
  display: grid;
  place-content: center;
}

p {
  text-align: center;
  width: 90%;
  font-size: 1.3rem;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: 2rem;
}

.dark {
  color: var(--space-light);
  background: var(--space-dark);
}

.light {
  color: var(--space-dark);
  background: var(--space-light);
}

.btn {
  font-size: 2rem;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 3px;
  padding: 7rem 3.5rem;
  border: none;
  border-radius: 50%;
  transition: all 300ms;
}

.btn:hover {
  transform: scale(0.7);
}

.btn-light {
  color: var(--space-dark);
  background-color: var(--space-light);
}

.btn.btn-light:hover {
  border: 4.5rem solid var(--border-light);
}

.btn-dark {
  background-color: var(--space-dark);
  color: var(--space-light);
}

.btn.btn-dark:hover {
  border: 4.5rem solid var(--border-dark);
}
